.priority {
  display: flex;
  align-items: center;
  justify-content: center;
}

.priority__selected {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.priority__selection--low {
  background-color: #47e4c2;
}

.priority__selection--medium {
  background-color: #fcc300;
}

.priority__selection--high {
  background-color: #ff88a6;
}
