.todo-item {
  user-select: none;
  padding: 5px 8px;
  background-color: #eee;
  border: 1px solid #ddd;
  margin: 5px;
}

.todo-item:hover {
  cursor: pointer;
  color: #333;
}

.todo-item--completed {
  text-decoration: line-through;
}
