.todo-item {
  user-select: none;
  padding: 5px 8px;
  background-color: #eee;
  border: 1px solid #ddd;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.todo-item:hover {
  color: #333;
}

.todo-item--completed .todo-item__text {
  text-decoration: line-through;
}

.todo-item__check {

}

.todo-item__check {
  cursor: pointer;
}

.todo-item__text {

}

.todo-item__delete:hover {
  cursor: pointer;
}
