.todo-item {
  user-select: none;
  margin: 5px;
  font-size: 15px;
  padding: 15px;
}

.todo-item--selected {
  background-color: #eee;
}

.todo-item__top {
  display: flex;
  justify-content: space-between;
}

.todo-item__top:hover {
  cursor: pointer;
}

.todo-item__buttons {
  display: flex;
  align-items: center;
}

.todo-item:hover {
  color: #333;
}

.todo-item--completed .todo-item__text {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-item__check:hover {
  cursor: pointer;
}

.todo-item__settings {
  margin-right: 5px;
}

.todo-item__text {
  margin-left: 10px;
}

.todo-item__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item__delete:hover {
  cursor: pointer;
}
