.edit-todo {
  animation: slide-in-from-left 0.3s ease;
}

.edit-todo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  animation: slide-in-from-left 0.3s ease;
}

.edit-todo__form {
  flex: 5;
  padding: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.edit-todo__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-todo__edit-button {
  border: none;
}

.edit-todo__edit-button {
  background-color: #5b89ff;
  padding: 15px 25px;
  width: 85%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  transition: all 0.25s ease;
  position: relative;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

.edit-todo__edit-button:hover {
  opacity: 0.9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.edit-todo__edit-button:active {
  opacity: 0.7;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);
  transform: translateY(+2px);
}

.edit-todo__text {
  width: 100%;
  font-size: 36px;
  border: none;
  outline: none;
}

.edit-todo__text::placeholder {
  color: #bbb;
}

.edit-todo__close-icon {
  margin-bottom: 25px;
}

.edit-todo__close-icon {
  width: 32px;
  height: 32px;
  opacity: 0.75;
  margin-left: -5px;
}

.edit-todo__priorities {
  margin-top: 30px;
}

.edit-todo__priority {
  margin: 7px 0;
  margin-right: 5px;
}

.edit-todo__priority--low {

}

.edit-todo__completed {
  margin-top: 30px;
}
