.circle {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.circle--low {
  background-color: #47e4c2;
}

.circle--medium {
  background-color: #fcc300;
}

.circle--high {
  background-color: #ff88a6;
}
