.todo-lists {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  animation: slide-in-from-left 0.3s ease;
}

.todo-lists__todo-lists {
  flex: 5;
}

.todo-lists__todo-list {
  margin: 25px;
  font-size: 24px;
  animation: slide-in-from-left 0.3s ease;
}

.todo-lists__controls {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
